.banner{
    width:100%;
    height:100%;
    background: url("../img/5.jpg") no-repeat;}
.content{
    width:1000px;  margin-right: auto;margin-left: auto; position: relative;}
.nav{overflow: hidden;}
/*导航*/
.color-1{
    margin:50px auto; text-align: center;}
.color-1 a{font-size: 20px;
    color: #abcc68; font-family: '微软雅黑'}
.color-1 a{
    margin-left:100px;}
.color-1 a:hover{
    color: #f3ffc2; text-decoration: none;}
.cl-effect-1 a::before,
.cl-effect-1 a::after {
    display: inline-block;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    -ms-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
    margin-right: 10px;
    content: '[';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
}

.cl-effect-1 a::after {
    margin-left: 10px;
    content: ']';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px);
}
/*导航*/
.nav_list{
    width:1000px;
    margin:50px auto;}
.face{position: absolute;
    left:400px;
    top:130px; border-radius: 50%; overflow: hidden; cursor: pointer;-webkit-transition:1s all ease;
    -moz-transition:1s all ease;
    -ms-transition:1s all ease;
    -o-transition:1s all ease;
    transition:1s all ease; box-shadow:  0 0 50px #000;}
.face:hover{
    transform: rotate(360deg);
}
.face img{
    width:100px;
    height:100px;}
.content h3{font-size: 3em;font-weight:300 ;color: #fff; font-family: "Microsoft Sans Serif"; position: absolute;left:414px;
    top:246px;}
.weclome{font-size:4em;font-weight:300;
    color: #fff; font-family: "Microsoft Sans Serif"; position: absolute;
    left:205px;
    top:290px;}
.intro{
    width:1000px; margin: 550px auto 0;}
.intro li{float: left; margin-left: 150px;}
.intro div{position: relative; float: left;}
.intro li .intr{
    width:50px;
    height:50px; border-radius: 50%; display:inline-block; cursor:pointer; text-align: center;
    border: 2px solid #fff;
    line-height: 4em;
    font-size: 0.85em;
    -webkit-transition: -webkit-transform ease-out 0.1s, background 0.2s;
    -moz-transition: -moz-transform ease-out 0.1s, background 0.2s;
    -ms-transition: -ms-transform ease-out 0.1s, background 0.2s;
    transition: transform ease-out 0.1s, background 0.2s;}
.intr:hover {
    background: rgba(255,255,255,0.05);
    -webkit-transform: scale(0.93);
    -moz-transform: scale(0.93);
    -ms-transform: scale(0.93);
    transform: scale(0.93);
    color:#1bd4c4;
    border: 2px solid #1bd4c4;
    text-decoration: none;
}
.intr:hover:after {
    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
    -moz-animation: sonarEffect 1.3s ease-out 75ms;
    animation: sonarEffect 1.3s ease-out 75ms;
}
.intro .intr_1{
    background: url("../img/year.png") no-repeat;
    background-size:100%;}
.intro .intr_2{  background: url("../img/chengshi.png") no-repeat;
    background-size:100%;}
.intro .intr_3{  background: url("../img/gonsi.png") no-repeat;
    background-size:100%;}
.intro li a{font-size: 20px;
    font-weight:bold; text-shadow:  0 0 20px #84ffcb;}
.intro li span{
    color: #e6ff3f;font-size: 20px;
    font-weight:bold; text-shadow:  0 0 20px #84ffcb;}
.bg{
    background: #524664;  overflow: hidden}
.inter{
    width:1200px; margin: 30px auto;}
.inter ul{
    width:500px; margin: 0 auto 30px;}
.inter_1 li{
    float: left; margin: 30px 50px 0 10px;}
.inter_1 li a{font-size: 30px;
    color: #84ffcb; text-decoration: none;}
.inter_1 li .inte_first{font-size: 35px; display: inline-block;width:70px;height:40px;background: #9633ff;
    border-radius:2px; text-align: center;line-height: 40px}
.chart{
    width:940px; margin: 30px auto;}
.chart .chart_1{margin-right: -20px;}
.chart .chart_2{
    float: left; margin-right: 20px; position: relative; margin-bottom: 20px }
.chart_1 img{
    width:300px;
    height:230px;}
.wall{position: absolute;
    width:100%;
    height:35px; background: rgba(151,89,97,.5); text-align: center; line-height: 35px;
    left:0; bottom:-1px;}
.wall p{font-size: 14px;font-family: '微软雅黑';
    color: #f8f9ff;}
.memory{
    height:692px; overflow: hidden;}
.works{
    width:1000px; margin: 0 auto; position: relative;-webkit-transform-style:preserve-3d;}
.title{overflow: hidden;
    width:500px; margin: 0 auto;text-align: center; }
.title h3{margin-top: 40px;
    font-size:36px; font-family: '微软雅黑' ;margin-bottom: 0;}
/*延迟*/
.step.infinite {
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
.forceDown{
    animation-name: forceDown;
    -webkit-animation-name: forceDown;

    animation-duration: .5s;
    -webkit-animation-duration: .5s;

    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes forceDown {
    0%{
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    50%{
        opacity: 1;
    }

    80%{

        -webkit-transform: translate3d(0, 8%, 0);
        transform: translate3d(0, 8%, 0);
    }
    90%{

        -webkit-transform: translate3d(0, -8%, 0);
        transform: translate3d(0, -8%, 0);
    }

    100%{
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/*延迟*/
.text{float: left;
    width:400px;
    margin-top:35px; position: absolute;
    left:0;
    top:74px;}
.text .pp{font-size: 20px;
    color: #ccc; line-height: 30px; font-family: '林志秀硬笔楷书'; position: absolute; -webkit-transform: translate3d(0,0,0);}
.tab{
    float: right;margin:35px 0 0 0; overflow: hidden; position: relative;
    width:500px;
    height:300px;}

.tab a{
    color: #000; font-size: 20px;
    width:40px;
    height:60px;background: rgba(0,0,0,.8); text-align: center;line-height: 60px; text-decoration: none;}
.tab  a:hover{text-decoration: none;}
.tab .prev{position: absolute;
    left:0;
    top:120px; z-index: 1;}
.tab .next{ position: absolute;
    right:0;top:120px; z-index: 1;}
.tab ul{
    width:2000px;
    height:300px; position: absolute;left:0;
    top:0;}
.tab ul li{ float: left;}

.tab_list img{
    width:500px;
    height:300px;}

.blog_bg{width:100%;
    height:100%; background: #339999;}
.contact{
    padding:4em 0;}
.c_content{
    width:1170px;
    padding-right:15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; text-align: center;  }
.c_content h5{font-size: 2.2em;font-weight: 700; font-family: '微软雅黑'}
.information{
    width:1000px; text-align: center;
    margin:0 auto;}
.in_list{
    width:800px; margin:80px auto;}
.in_list li{float:left;
    margin-left:222px;
    height:50px; line-height: 50px; text-align: center}
.in_list .email1{margin-left: 100px;}
.email1 span{
    float: left; margin-right: 1em;
    width:50px;
    height:50px; background: url("../img/youxiang.png") no-repeat; background-size: 100%;}
.in_list a{display: inline-block;font-size:18px;
    float: left;
    color: #A5AABE;}
.email2 span{float: left; margin-right: 1em;
    width:50px;
    height:50px; background: url("../img/dianhua.png") no-repeat; background-size: 100%;}
.form{
    width:1100px;
    margin:0 auto;  position: relative;}
.form input{    font-family: inherit;    -webkit-appearance: textfield;
    -webkit-rtl-ordering: logical;
    user-select: text;
    cursor: auto;
    line-height: inherit;}
.form .text_1{
    width:44%;
    border:none;outline: none;background: #f3f3f3;
    padding:15px 18px; font-weight: 300; font-size: 17px;
    color: #CACACA;    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    margin: 10px 25px 20px 0;}
.form textarea{  width: 90.5%;  resize: none;  height: 13em; margin-bottom: 1em;font-family: inherit; overflow: auto;  font-size: 17px;
    color: #CACACA; float: left;
    margin-left:38px;
}
.form .button{    border: none;
    outline: none;
    padding: 15px 25px;
    color: #fff;
    background: #FFD670;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    -webkit-border-radius: 5px;    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px; }


